<div class="container">
  <p><span class="font-bold">First Name: </span><span class="lead">{{ patient.firstName }}</span></p>
  <p><span class="font-bold">Last Name: </span><span class="lead">{{ patient.lastName }}</span></p>
  <p><span class="font-bold">Date Of Birth: </span><span class="lead">{{ patient.dateOfBirth | date }}</span></p>
  <p><span class="font-bold">Medical History: </span><span class="lead">{{ patient.medicalHistory }}</span></p>
  <p><span class="font-bold">Symptom Summary: </span><span class="lead">{{ patient.symptomSummary }}</span></p>
  <p><span class="font-bold">Current Diagnosis: </span><span class="lead">{{ patient.currentDiagnosis }}</span></p>
</div>

